@charset "utf-8";
* {
    padding: 0;
    margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    font-size: 12px;
}


h2 {
  font-size: 32px;
  color: #111;
  font-weight: 500;
}

p,
ul {
  color: #333;
}

p{
    line-height: 1.5;
}


ul{
    list-style: none;
}


.container {
  margin: 100px auto;
  max-width: 800px;
  padding: 0 30px;
}

.row {
  margin-bottom: 30px;
}

.profile_wrapper {
  margin-bottom: 50px;
}


.profile {
  max-width: 280px;
  width: 280px;
  height: 280px;
  background-color: antiquewhite;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.profile > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc {
  font-size: 50px;
  font-weight: 900;
  padding: 30px 40px 0;
  letter-spacing: -0.01em;
  flex-shrink: 1;
}

.about {
  margin-bottom: 50px;
  width: 700x;
  height: 200px;

  margin: 30px auto 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about > h1 {
    margin-bottom: 20px;
}

.about,
.my_style {
  padding: 0 40px;
}

.mbti {
  font-weight: 700;
  position: relative;
}

.mbti::before {
  content: '';
  width: 70px;
  height: 16px;
  position: absolute;
  top: 26px;
  left: -2px;
  z-index: -10;
  background-color: #94e6ff;
}

.my_style {
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.my_style > h1 {
    margin-bottom: 20px;
}


.my_style > .style_list {
  padding: 0 40px;
  line-height: 1.6;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 10px auto 60px auto;
}

.ic_github {
    background-image: url("/static/3.png");
    background-size: cover;
    background-position: center;

    width: 60px;
    height: 60px;

    background-color: transparent;
    border: 1px solid transparent;
}

.ic_blog {
    background-image: url("/static/2.png");
    background-size: cover;
    background-position: center;

    width: 60px;
    height: 60px;

    background-color: transparent;
    border: 1px solid transparent;
}

.icon > a {
    margin-right: 15px;
}

.icon > a:hover {
    transform: scale(1.4);
    transition: transform .3s;
}

.icon_wrapper {
  text-align: right;
  margin-bottom: 50px;
  padding: 0 30px 30px 0;
  border-bottom: 1px solid #ececec;
}

.icon_wrapper > .icon {
  width: 30px;
  display: inline-block;
}

.icon_wrapper > .ic_blog {
  margin-right: 10px;
}


.hi {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .hi:hover:before {
    content: '🙋‍♂️🙋‍♀';
  }
  

.board-comment {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.board {
  max-width: 800px;
  width: 95%;

  margin: 30px auto 50px auto;

  padding: 20px;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
}

.board-comment {
  max-width: 800px;
  width: 95%;
  height: 10%;
  margin: 20px auto 0 auto;
}

.board > .btn {
  display: block;
  margin: 10px 0 0 auto;
}

.board_list {
  margin-top: 40px;
}

.board_list > .card {
  margin-bottom: 20px;
}

.board_list > .card:last-child {
  margin-bottom: 0;
}

.nav_wrapper {
  border-top: 1px solid #ececec;
  padding: 60px 0 30px;
  text-align: center;
}

.nav_wrapper > .nav_title {
  color: #333;
  font-weight: 700;
  margin-bottom: 20px;
  cursor: default;
}

@media screen and (min-width: 720px) {
  .profile {
    margin-left: 30px;
  }

  .desc {
    max-width: 500px;
    padding: 60px 0 0 0;
  }
}
