<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_1.css')}}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css')}}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='member_dark.css') }}"
    />

    <title>성아 개인페이지</title>

    <script>
      $(document).ready(function () {
        show_order();
      });

      function show_order() {
        $.ajax({
          type: 'GET',
          url: '/members/5/board',
          data: {},
          success: function (response) {
            let rows = response['guest'];
            for (let i = 0; i < rows.length; i++) {
              let name = rows[i]['name'];
              let board = rows[i]['board'];
              let date = rows[i]['date'];
              let temp_html = `  <div class="col">
                                              <div class="card h-100">
                                                  <div class="card-body">
                                                      <h5 class="card-title">${name}</h5>
                                                      <p class="card-text" style="text-align: end">${date}</p>
                                                      <p class="mycomment">${board}</p>
                                                  </div>
                                              </div>
                                            </div>`;
              $('#card-box').append(temp_html);
            }
          },
        });
      }

      function save_board() {
        let name = $('#name').val();
        let board = $('#board').val();

        let date = new Date();
        let year = date.getFullYear();
        let month = date.getMonth() + 1;
        let day = date.getDate();

        let time = new Date();
        let minutes = String(time.getMinutes()).padStart(2, '0');
        let hours = String(time.getHours()).padStart(2, '0');
        let seconds = String(time.getSeconds()).padStart(2, '0');

        let here = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

        $.ajax({
          type: 'POST',
          url: '/members/5/board',
          data: { name_give: name, board_give: board, date_give: here },
          success: function (response) {
            alert(response['msg']);
            window.location.reload();
          },
        });
      }

      function surprise() {
        alert('하차버튼은 안돼요!');
      }
    </script>
  </head>
  <body>
    <!--타이틀부분-->
    <div class="boxalign">
      <div class="container">
        <div class="row profile_wrapper">
          <div class="col">
            <div class="profile">
              <img src="/static/profile_jsa.jpg" alt="" />
            </div>
          </div>
          <div class="col">
            <h1 class="desc">
              내 일에 진심인 사람<br />
              진심인 자가 승자다
            </h1>
          </div>
        </div>

        <!--소개부분-->
        <div class="about">
          <h1 style="font-weight: bold">About Me 🔉</h1>
          <h4>
            <span style="font-weight: bold">MBTI</span>: 만능 재주꾼<span
              style="color: red"
              >#ISTP</span
            >
            💻🛠 (50%) + 호기심 많은 예술가<span style="color: red">#ISFP</span>
            🎨✒︎(50%) <br />
            <br />
            <span style="font-weight: bold">나는?</span>❤️️
            <br />프론트엔드개발자가 되고싶은 개린이입니다.<br />
            나에게 주어진 일은 책임감있게 끝내고 싶어합니다. 팀원들과 의견을
            주고받는 것도 좋아해요<br />
            <br />
            한번 들어오면
            <button
              onclick="surprise()"
              style="
                border: 2px solid lightgrey;
                border-radius: 10px;
                padding: 2px;
              "
            >
              하차버튼</button
            >없습니다💀 같이 으쌰으쌰해요🤭
          </h4>
        </div>

        <div class="my_style">
          <h1 style="font-weight: bold">My Style 💭</h1>
          <h4>
            <li>
              팀원들과
              <span style="background-color: red; color: antiquewhite"
                >의견</span
              >을 주고 받아 같은 목표를 향해 달려갑니다. 📊
            </li>
            <br />
            <br />
            <li>
              <span style="background-color: red; color: antiquewhite"
                >작은 일</span
              >이라도 하나의 보탬이 되기 위해 노력합니다.
            </li>
          </h4>
        </div>

        <div class="icon">
          <a target="_blank" class="ic_github" href="https://github.com/Jocooh"></a>
          <a target="_blank" class="ic_blog" href="https://constcoding.tistory.com/"></a>
        </div>

        <!--방명록 부분-->
        <div>
          <h2 class="hi">
            <br />️<span>인사를 남겨주시면, 우린 친구가 될지도?</span>
          </h2>
          <div class="board">
            <div class="mypost">
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="name"
                  placeholder="name@example.com"
                />
                <label for="name">당신의 이름은?</label>
              </div>
              <div class="mb-3">
                <textarea
                  class="form-control"
                  id="board"
                  rows="3"
                  placeholder="Say Hello!"
                ></textarea>
              </div>
              <div class="mybtn">
                <button
                  onclick="save_board()"
                  type="button"
                  class="btn btn-dark"
                >
                  인사 남기기
                </button>
              </div>
            </div>
          </div>

          <div class="board-comment">
            <div id="card-box" class="row row-cols-1 row-cols-md-2 g-4"></div>
          </div>
        </div>

        <div class="nav_wrapper">
          <h1>We're FRONTIER</h1>
          <nav class="nav">
            <ul class="team_list">
              <li class="team_list_item">
                <a href="/members/1">
                  <p class="name">김성민</p>
                  <img src="../static/profile_ksm.jpeg" alt="" />
                </a>
              </li>
              <li class="team_list_item">
                <a href="/members/2">
                  <p class="name">김혜진</p>
                  <img src="../static/1.png" alt="" />
                </a>
              </li>
              <li class="team_list_item">
                <a href="/members/3">
                  <p class="name">박진산</p>
                  <img src="../static/profile-pjs.jpg" alt="" />
                </a>
              </li>
              <li class="team_list_item">
                <a href="/members/4">
                  <p class="name">이유정</p>
                  <img src="../static/profile_lyj.jpg" alt="" />
                </a>
              </li>
              <li class="team_list_item">
                <a href="/members/5">
                  <p class="name">조성아</p>
                  <img src="../static/profile_jsa.jpg" alt="" />
                </a>
              </li>
            </ul>
          </nav>
        </div>
        {% include 'fixedIcons.html' %}
      </div>
    </div>
    <script src="/static/icons.js"></script>
  </body>
</html>
